
body {
      background-color: red;
      font-size: 150%;
      font-color: green;
    }
    
.info-section {
  
}
#title-section {
  
}

/*idk {*/
/*    font-size: 300%*/
/*}    */
/*idk = <h3>*/

/*borders {*/
/*        border: 1 pt;*/
/*}*/
/*borders = <div>*/

/*text {*/
/*      text-decoration-color: green;*/
/*      text-shadow: 1 pt;*/
/*      text-align: center;*/
/*}*/

