
body {
      background-color: red;
      font-size: 150%;
    }
    
.info-section {
                border: 1 pt;
}
#title-section { 
                border: 1 pt;
  
}

#welcome { 
          border: 1 pt;
  
}

}
h3 {
    font-size: 300%;
  
}

/*idk {*/
/*    font-size: 300%*/
/*}    */
/*idk = <h3>*/

/*borders {*/
/*        border: 1 pt;*/
/*}*/
/*borders = <div>*/

/*text {*/
/*      text-decoration-color: green;*/
/*      text-shadow: 1 pt;*/
/*      text-align: center;*/
/*}*/

